html{min-height:100dvh; z-index: -1;}

html, body { padding: 0; margin: 0; overflow-x: hidden; min-height:100dvh; height:100dvh; width:100dvw;max-width: 100dvw; overscroll-behavior: none; }

body{z-index: 0; overscroll-behavior:none; min-height:100dvh; max-width: 100dvw; width:100vw; overflow-x: hidden; margin:0 auto; padding:0;}

::-webkit-scrollbar,::-webkit-scrollbar-button{height:0px;width:0px}

:root {
  --button-alternate-color: #e3272d;
  --button-color: #e5c3d3;
  --font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  --font-family-mono: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
  --font-size-small: 12px;
  --grid-gap: 30px;
  --home-link-color: #d4d4d4;
  --home-link-hover-color: var(--primary-color);
  --input-focus-border: #83aaac;
  --label-text: #777;
  --nav-link-hover-bg: #111;
  --post-link-color: #0f070b;
  --text-color-meta: rgba(0,0,0,.5);
  --theme-bg-light: var(--lightBg, #ffffff); 
  --theme-bg-dark: var(--darkBg, #000000); 
  --theme-accent: var(--lightAccent, #ff0000);
  --theme-accent2: var(--lightAccent2, blue);
  --theme-header-light: var(--lightHeader, #c25e5e);
  --theme-header-dark: var(--darkHeader, #c4ffc4);
  --theme-link-light: var(--lightLink, #4a6e6e);
  --theme-link-dark: var(--darkLink, #d292b0);
  --theme-text-light: var(--lightText, #383838);
  --theme-text-dark: var(--darkText, #ebf1ed);
  --theme-ui-colors-borderRadius: var(--borderRadius);
  
  
}body {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  --font-family-mono: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
  line-height: 1.5;
  /* background: var(--theme-bg-light);  */
  color: var(--theme-text);
}



	body, html {
  overflow-y: auto;
  z-index: -1;
}


header.header {height:0;}

body.blog #menu {margin-bottom:0;}
body.blog footer {display: none !important;}

body.map #menu {margin-bottom:0;}
body.homepage #menu {margin-bottom:0;}
body.map #gobacker {display:none;}


body.map::has(#gobacker, footer){display:none;}
#missioncontrol{line-height: 1;}

body.install #menu{display: none !important;}


#gobacker, .button {
  display: flex;
  align-items:center;
  justify-content: center;
  padding: .5vh .5vw;
  background: var(--theme-accent2);
  color:#ddd;
  border-radius:var(--theme-ui-colors-borderRadius);
}


.backimage{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index:-1;
  top:0;
  object-fit:cover;
}




.button {
  background-color:var(--theme-accent2);
  /* color: #ffffff; */
  border: none;
  padding: 1vh 1.5vw;
  font-size:clamp(1.1rem, 1vw, 1.4rem);
  font-weight: bold;
  text-shadow: 0px 1px 2px #111;
  border-radius:var(--theme-ui-colors-borderRadius);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin:1vh auto 1vh auto;
  transition: opacity 0.5s ease-in;
}
.button:hover{
  background-color:var(--theme-accent2);
  /* color: #ffffff; */
  /* filter:brightness(.79); */
}

/* fancy button */
@property --rotate{
  syntax: "<angle>";
  initial-value: 5deg;
  inherits: false;
}
.special{
  --rotate: 0deg;
  --green: var(--theme-accent2);
  --radius: 5px;
  color: inherit !important;
  position: relative;
  margin:1vh auto;
  padding: 1.5vh 2vw ;
  border-radius: var(--radius);
  background: var(--theme-accent2);
  filter:brightness(1);
  cursor: pointer;
  display: block;
  transition: opacity 0.5s ease-in;
  text-align: center;
  font-size: clamp(1.3rem, 2.4vw, 1rem);
  text-shadow: 0 2px 2px #333;
  backdrop-filter:blur(12px);
  text-transform: uppercase;
  z-index: 0;
  text-decoration: none; border:none; box-shadow: none;
}

.special .fancy {
  position: absolute;
  inset: 0;
}

.special .fancy::before {
  content: "";
  background: conic-gradient(from var(--rotate), transparent 8%, rgb(255, 255, 255) 20%, transparent 10%);
  position: absolute;
  inset: 0;
  animation: rotate 1s cubic-bezier(0.42,0,1,1) infinite;
  animation-duration:3s;
  animation-direction: forwards;
    /* animation-delay:1s; */
  border-radius: var(--radius);
}
.special:hover .fancy::before{
  background: conic-gradient(from var(--rotate), transparent 8%, var(--theme-accent2) 20%, transparent 10%);
}
.special:hover .fancy::after{background:var(--theme-accent2); inset: 2px;filter:brightness(1.1);}

.special .fancy::after {
  content: "";
  background:var(--theme-accent2);
  position: absolute;
  inset: 2px;
  border-radius: var(--radius);
}

.butttext{position: relative; z-index: 1;text-decoration: none; border:none; box-shadow: none; }

@keyframes rotate {
  to {
    --rotate: 360deg;
  }
}
/* fancy button */





.major {
  background-color:var(--theme-accent);
  color: #ffffff;
  border: none;
  padding: 1vh .5vw !important;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin:1vh auto 1vh auto;
  transition: opacity 0.5s ease-in;
  text-align: center;
  font-size: clamp(1.3rem, 2.4vw, 1rem);
  text-shadow: 0 2px 2px #333;
  backdrop-filter:blur(12px);
  text-transform: uppercase;
}



.flexbutt{display:flex; }
.flexcheek{
  /* position:-webkit-sticky;position:sticky;top:0; */
  width:50%}

.container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap:20px; 
  padding:20px;
}





#gobacker{position:fixed; display:flex; top:65px ; right:1vw; z-index:11;}
body.homepage #gobacker{display:none;}


.grid-container .panel, .grid-container .title1, .slider .title1{
  background: none;
}

.post-card1 img{border-radius:var(--theme-ui-colors-borderRadius); color:var(--theme-accent)}


.post-card1 h2{border:0 solid red;font-size:clamp(1rem, 1.2vw, 1.4rem);width:100%}
.themetext{border:0 solid red; font-size:.5rem;}






.grid-container {
  display: grid;
  list-style: none;
  column-gap: 2vw;
  /* row-gap: 10vh; */
  padding: 0 2%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-bottom: 10vh;
  padding-top:0px;
  border:0px solid yellow;transition:transform .2s;
}

.grid-container .post-card1 {
  width: 100%;
  margin-bottom: 40px;
  box-sizing: border-box;
  break-inside: avoid;
  border-radius: var(--theme-ui-colors-borderRadius);
  transition:transform .2s;
}


.grid-container .post-card1 img{
  max-height: 25vh;
  margin:0 auto;
  }

  @media (min-width: 320px) and (max-width: 759.5px) {
    .grid-container {
      column-count: 2;
    }
  }
  @media (min-width: 760px) and (max-width: 979.5px) {
    .grid-container {
      column-count: 3;
    }
  }
  @media (min-width: 980px) and (max-width: 1023.5px) {
    .grid-container {
      column-count: 4;
    }
  }
  @media (min-width: 1024px) {
    .grid-container {
      column-count: 5;
    }
  }


  .sliderSpacer{display:none;}
  .slider .sliderSpacer{display:block; width:50%; height:50% ; }
  .slider img{max-height:68vh; object-fit:contain; width: 100%; }
  .slider {
    display: flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    gap: 20vw;
    overscroll-behavior: contain;
    scroll-snap-type: y mandatory;
    transition:transform .3s;
    margin:0 0 0 0 ;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 0;
    position:relative;
    top:0;
  }



  .horizontal-slider {
    display: flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    gap: 10vw;
    scroll-padding: 0 5vw;
    overscroll-behavior: contain;
    scroll-snap-align: center;
    transition:transform .4s;
    margin:0 0 0 0 ;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 0;
    position:relative;
    top:0;
    min-width: 100vw;
  }




  .slider .post-card1 {
    scroll-snap-align: center;
    min-width: 80vw;
  }


  .post-card1 {
    text-align: center;
    scroll-snap-align: center;
    display:flex;
    justify-content: center;;
  }




  .grid-container .post-card1 {
    /* min-height:  30vh; */
    max-height: 30vh;
    display: grid;
    place-content: start;
    color:var(--theme-ui-colors-headerColorText);
    border-radius:var(--theme-ui-colors-borderRadius);
    justify-content: center;
    flex: 0 0 33.3333%;transition:transform .2s;
  }



  .title1, .title{font-size:clamp(1rem, 1.5vw, 2rem);}


  .post-card1 a{font-size:clamp(1rem, 1.2vw, 1.8rem); text-decoration: none; border:none; text-align: left;}

  .snippet {font-size:clamp(1rem, 1.2vw, 1.8rem); text-decoration: none; border:none; text-align: left; max-width: 80vw; margin:0 auto;}


  #email::placeholder{color:rgb(234, 247, 235); font-size:clamp(.8rem,1.2vw,2.2rem) !important;}


  @media(max-width:48rem) {
    .mobilehide{display:none}
    .flexbutt{flex-direction:column}
.flexcheek{position:inherit;top:inherit;width:100%}
.color{color:hsla(150, 93%, 22%, 0.99);}
.color2{color:hsl(150, 91%, 27%)}
  }


  @keyframes loader {
    0%{opacity:0;}
    90%{opacity:1;}
    to{opacity:0;z-index:-3}
    }
  
    @keyframes gridfadeout {
      0%{
        opacity: .5;
     }
  
     99% {
      opacity:0;
   }
  
     to {
        opacity:0;
        z-index:-3;
     }
    }



.toggle{
  position: relative;
  background: rgba(249, 249, 249, 0.58);
  margin: 0 0 1vh 0;
  padding: 10px 10px 10px 50px;
  display: flex;
  cursor: pointer;
  border:1px solid;
  color:#0c5631;
  font-weight:bold;
  border-radius: 5px;
  width:100% !important;
  align-items: center;
}

.toggle .plus {
  position: absolute;
  font-weight: normal;
  top:0;
  left: 10px;
  margin-left: 0;
  z-index: 1;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  color:hsla(133, 91%, 9%, 0.9);
}

.toggle-content {
  /* display: none; */
  visibility: hidden;
  height:0;
}

.toggle-content.is-visible {
  display: block;
  padding: 0 15px 5px 15px;
  margin: 5px 0;
  /* width:100% !important; */
  overflow: hidden;
  z-index: 1;
  height: auto;
  position: relative;
  visibility: visible;
  -webkit-backdrop-filter:blur(54px);
  backdrop-filter:blur(54px);
  border-radius: var(--theme-ui-colors-borderRadius);
}



.quotecard {
  display: flex;
  /* width:300px !important; */
  background:rgba(0,0,0,0.80);
  backdrop-filter:blur(12px);
  border:0px solid;
  /* margin-left:-20vw; */
  color:#fff;
  padding:2vh 2vw;
  border-radius: var(--theme-ui-colors-borderRadius) !important;
}

@media(max-width:48rem) {
  .quotecard{flex-direction: column;}
}


blockquote{font-family:Arial,Helvetica,sans-serif;margin:2vh auto;padding:.5em 10px;position:relative;quotes:"“" "”" "‘" "’"}
blockquote:after{bottom:-20px;content:close-quote;margin-right:.25em;right:0;text-align:right;width:100%}
blockquote:after,blockquote:before{font-size:4em;line-height:.1em;position:absolute;vertical-align:-.4em}
blockquote:before{content:open-quote;margin-left:-.25em;quotes:"“" "”" "‘" "’"}
blockquote span {display:block; bottom:0; right:0; padding:1rem 0; text-align:right;}


.glow { color: inherit; font-weight: 700; font-style: italic; border-radius:0.675em; text-align: center;  transition: all 0.2s ease-in-out; text-shadow: .3vw .2vh .2vw #444, 0 3px .3vw var(--theme-accent2),0px 2px .3vw rgb(240, 240, 240),0 2px var(--theme-accent2),0 2px .3vw var(--theme-accent2),0 0 .3vw var(--theme-accent2),0 0 .2vw var(--theme-accent2),0 0 .3vw var(--theme-accent2);
} 


.tagline1{margin:4px 0 0;padding-bottom:1.7rem;padding-top:1rem;}
.title1, .title{font-size:clamp(1rem, 1.5vw, 2rem);}



p{margin-bottom:1rem}

a[href^="tel:"]:before{-webkit-text-decoration:0px solid var(--theme-accent2); border-bottom:0;content:"📱";margin-right:10px;text-decoration:0px solid var(--theme-accent2)}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--theme-link);
  text-decoration: underline;
}

a:active {
  color: var(--theme-link);
  opacity: 0.8;
}

a:focus {
  outline: 0px solid var(--theme-link);
  outline-offset: 0px;
}

a:visited {
  color: var(--theme-link #6c757d);
}


.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  padding: 2rem 0 1rem;
  list-style: none;
  border: 0px solid;
  border-radius: 5px;
  background:rgba(0,0,0,0.10);
  backdrop-Filter:blur(8px);
}
.tag {
  display: flex;
  align-items: center;
  margin: 0.25rem 1rem;
}

.tag:nth-of-type(4n+1) {
  /* color: #ffd560; */
  font-size: 130%;
}
.tag:nth-of-type(4n+2){
  /* color: #ee4266; */
  font-size: 110%;
}
.tag:nth-of-type(4n+3) {
  /* color: #9e88f7; */
  font-size: 90%;
}
.tag:nth-of-type(4n+4) {
  /* color: #54d0ff; */
  font-size: 150%;
}





#secondMenu{background:transparent;display:block;left:0;padding:0;transform:translateX(-250px);width:250px;z-index:5}

#secondMenu .sidebarMenuInner{border-radius:0 12px 12px 0}

#secondMenu,#sidebarMenu{position:fixed;top:0;transition:transform .25s ease-in-out}

#sidebarMenu{display:flex;flex-direction:column;height:80vh;justify-content:flex-end;padding:75vh 0 0;right:0;transform:translateX(100vw);z-index:10}


#sidebarMenu input[type=checkbox]:checked~.sidebarIconToggle{display:none}

.sidebarIconToggle div span{animation-delay:4s;border-radius:var(--theme-ui-colors-borderRadius);color:var(--primary-color)}


.sidebarMenuInner{
  background-color:rgba(0, 0, 0, 0.3);
  filter:brightness(.99);
}

.sidebarMenuInner li{
  color:#fff !important;
  filter:brightness(.99);
  text-shadow: 0 0px 1px var(--theme-ui-colors-textShadow) !important;
}



.sidebarIconToggle{border:0 solid #fff;top:0;color:#999;cursor:pointer;display:flex;flex-direction:column;justify-self:flex-start;position:fixed;right:15px;text-align:center;z-index:10; width:30px;}
.sidebarIconToggle div span1{animation-delay:1.5s;bottom:0;right:0;z-index:3}
.sidebarIconToggle div span1,.sidebarIconToggle span{flex-direction:column;justify-content:center;text-align:center;}

.sidebarIconToggle span{border:0 solid var(--primary-color); }

.sidebarIconToggle,input[type=checkbox]{box-sizing:border-box;transition:all .3s}
.sidebarIconToggle:hover{color:var(--primary);text-shadow:0 2px 1px var(--theme-ui-colors-textShadow);}
.sidebarMenuInner{ 
  color:var(--theme-ui-colors-headerColorText);
   background-size:140% 200%; border-left:1px solid hsla(0,0%,100%,.1);border-radius:12px 0 0 12px;  display:flex;flex-direction:column;justify-content:space-between;margin:0;min-width:220px;overflow:hidden;padding:0;transition:all .8s ease-in-out}
.sidebarMenuInner li{border-bottom:1px solid hsla(0,0%,100%,.1);color:var(--theme-ui-colors-headerColorText);font-weight:700;list-style:none;padding:5px 20px}

.missioncontrol li{border-bottom:0px solid hsla(0,0%,100%,.1);}
.missioncontrol svg{filter:drop-shadow(1px 1px 0px #222);}
.topmenu a {text-shadow:1px 1px 0px #222;}

.sidebarMenuInner li a{cursor:pointer;font-weight:700;text-decoration:none;}
.sidebarMenuInner li span{display:block;font-size:14px}

.splitRow{align-items:center;flex-direction:column}
.squares>*{height:100vh;margin:0 0 45%}


input[type=checkbox]:checked~#secondMenu{transform:translateX(0)}
input[type=checkbox]:checked~#sidebarMenu{transform:translateX(100%)}




#menu{
  position:sticky;
  width: 100vw;
  top:0;
  left:0;
  z-index: 10;
  max-height: 60px;
  box-shadow: 0 0 2px rgba(0,0,0,.7);
  padding:0 1% 0 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  border:none;
  border-bottom:1px solid #222;
  border-radius: 0;
  background:var(--theme-header);
  color:#fff;
  backdrop-filter:blur(54px) ;
  -webkit-backdrop-filter: blur(54px);
}


@keyframes fadeout {
  0%{opacity:1}
  to{opacity:0}
  }






.stripe-button.disabled { background-color: grey !important; cursor: not-allowed !important; pointer-events: none; }


.cheat{
  color:hsl(125, 19%, 76%);
}
