@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		--theme-bg: var(--lightBg, #c2d9c2);
		--theme-link: var(--lightLink, #4a6e6e);
		--theme-text: var(--lightText, #383838);
		--theme-accent: var(--lightAccent, #b57a33);
		--theme-accent2: var(--lightAccent2, #4d5a52);
		--theme-header: var(--lightHeader, #c25e5e);
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: var(--darkBg, #2e5e2e);
		--theme-link: var(--darkLink, #d292b0);
		--theme-text: var(--darkText, #ebf1ed);
		--theme-accent: var(--darkAccent, #3d8f4a);
		--theme-accent2: var(--darkAccent2, #ededed);
		--theme-header: var(--darkHeader, #c4ffc4);
	}
}

/* Rest of your CSS remains the same */
html {		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16  text-textColor antialiased;
	}

