---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import Switch from "@/components/Switch.jsx";
import { menuLinks } from "@/site-config";
import { getEntry } from 'astro:content';

const url = new URL(Astro.request.url);
const siteSettings = await getEntry('siteSettings', 'main');
const { showHeader, showLogo, showTheme, showSearch, showSwitch, logoImage } = siteSettings.data;
---

{showHeader && (
  <div id="menu" class="menu header">
    {showLogo && logoImage && (
      <a href="/" aria-current={url.pathname === "/" ? "page" : false}>
        <img 
          src={`/${logoImage}`}
          alt="Site Logo"
          class="cornerlogo"
          style={{
            position: "relative",
            top: "1%",
            left: "1%",
            padding: "0",
            maxHeight: "60px",
            maxWidth: "90px"
          }}
          loading="eager"
          fetchpriority="high"
        />
      </a>
    )}

    <ul class="topmenu" style={{ fontSize: "clamp(.6rem, 1.6vw, 1.8rem)",
      textAlign: "center",
      display: "flex",
      justifyContent: "space-around",
      gap: "4vw",
      alignItems: "center",
      margin: "0 auto",
      padding: "0",
      height: '60px'
    }}>
      {menuLinks.map((link) => (
        <li>
          <a
            href={link.path}
            class="px-4 py-4 sm:py-0 sm:hover:underline"
            aria-current={url.pathname === link.path ? "page" : false}
            rel="prefetch"
            data-astro-reload
          >
            {link.title}
          </a>
        </li>
      ))}
    </ul>

    <div id="missioncontrol" class="missioncontrol sitecontrols" style={{
      display: "flex",
      justifyContent: "space-around",
      fontSize: "clamp(.8rem, 2.3vw, 2.5rem)",
      gap: "3vw",
      alignItems: "center",
      padding: "0 10px 0 0",
    }}>
      {showSearch && <Search />}
      {showSwitch && <Switch client:load />}
      {showTheme && <ThemeToggle />}
    </div>
  </div>
)}
