---
import { getCollection } from 'astro:content';
import PageLayout from "@/layouts/Base.astro";
import { generateMeta } from "../utils/meta"; // We'll create this utility function
export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map(page => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await page.render();
const meta = generateMeta(page.data);
---

<PageLayout meta={meta}>
  <h1>{page.data.title}</h1>
  <Content />
</PageLayout>
