---
import GoBack from "@/components/GoBack.astro";
// import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base.astro";
const meta = {
	description: "Photos",
	title: "Photos",
  ogImage: ""
  
};
import PhotoSection from "@/components/PhotoGallery.astro"
// import { getEntry } from 'astro:content';
// const siteSettings = await getEntry('siteSettings', 'main');
// const { showHomeGallery } = siteSettings.data;

---

<style>





</style>


<PageLayout
  meta={meta}
  title={meta.title}
  description={meta.description}
  articleDate={new Date().toISOString()}
  ogImage={meta.ogImage}
>
  <GoBack  />

  <PhotoSection style="margin:0 auto;" />
<div class="booty"></div>

</PageLayout>
