---
// import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";
// import aboutImg from "@/assets/header-lawncaresimple.webp";
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

// const pirateTech: { desc: string; href: string; title: string }[] = [
// 	{
// 		desc: "Build fast websites, faster.",
// 		href: "https://astro.build",
// 		title: "Astro",
// 	},
// 	{
// 		desc: "Rapidly build modern websites without ever leaving your HTML.",
// 		href: "https://tailwindcss.com",
// 		title: "Tailwind CSS",
// 	},
// 	{
// 		desc: "Simple and easy-to-use markup language.",
// 		href: "https://www.markdownguide.org/",
// 		title: "Markdown",
// 	},
// 	{
// 		desc: "Markdown for the component era.",
// 		href: "https://mdxjs.com/",
// 		title: "MDX",
// 	},
// 	{
// 		desc: "Generating png Open Graph images for blog posts.",
// 		href: "https://github.com/vercel/satori",
// 		title: "Satori",
// 	},
// 	{
// 		desc: "A fully static search library.",
// 		href: "https://pagefind.app/",
// 		title: "Pagefind",
// 	},
// 	{
// 		desc: "An easy to use Icon component for Astro.",
// 		href: "https://github.com/natemoo-re/astro-icon#readme",
// 		title: "Astro Icon",
// 	},
// 	{
// 		desc: "Highly customisable source code & syntax highlighter",
// 		href: "https://expressive-code.com/",
// 		title: "Expressive Code",
// 	},
// ];
---
<body class="blog">
<PageLayout meta={{ title: "Home" }}>
	<!-- <section style="padding:0">
		

		<Image
				alt="A cartoon pirate looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
	</section> -->




		<!-- <div class="flexbutt" style={{ padding: "2%", width:'100%', maxWidth: "100vw", margin: "0 auto", display: "", flexDirection: "", justifyContent: "center", alignItems:'', gap:'2vw', }}>
	  

		
	
		  <iframe title="location map" class="flexcheek beta" width="100%" height="500" frame-border="0" scrolling="no" margin-height="0" margin-width="0" src="/map/" allow-full-screen={true} loading="lazy" style={{maxWidth:'100%', width:'75vw', minHeight:'60vh', margin:'0 auto', border:'.5vw solid rgba(0,0,0,0.60)', borderRadius:'12px', pointerEvents:'none'}}></iframe>
		  
		  
	  
	  
		  <div class="flexcheek" style={{maxWidth:'100%', gap:'', paddingRight:'10px', display:'flex', }}>
		  
		  {/* <StaticImage src="../../static/assets/measure-tool.png" alt="Default Image" style={{height:'auto', maxHeight:'100vh', position:'relative', zIndex:'0', top:'0',border:'1px solid #222', borderRadius:'8px', objectFit:'contain', margin:'0 auto'}} /> */}
	  
		  <div class="" style={{ display: 'flex', justifyContent: 'center', alignItems:'center', padding:'1vh 1vw', textDecoration:'none', width:'95%', borderRadius:'12px', margin:'50px auto 0 auto', textAlign:'center', fontSize:'clamp(1.5rem, 2vw, 1.8rem)', background: 'rgba(8, 44, 20, 0.9)',  backdropFilter: 'blur(4px)', border:'1px solid #333', color:'#fff' }}>
	  
		Beta Begins Soon!<br /></div>
	  
	  
	
	  
	  
		
		  </div>
		</div> -->
	  
	  

	  
	  <div>
	  </div>

	  <div
	  style={{
		  textAlign: "center",
		  display: "grid",
		  placeContent: "center",
		  padding: "5vh 0 0 0",
	  }}
  >
  </div>


	<div class="scroll-container" style={{display:''}}>
		<!-- <h1 class="center title">Welcome to this website</h1> -->
		<!-- <div class="contentpanel horizontal-scroll panels"> -->
		<div class="contentpanel grid-container panels">
			<!-- <div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div> -->

			{allPostsByDate.map((p) => <PostPreview post={p} withDesc />)}

			<div
				style={{
					textAlign: "center",
					display: "grid",
					placeContent: "center",
					padding: "1vh 1vw",
					// background: "rgba(0, 0, 0, .6)",
					// height: "75vh",
					width: "100%",
					position: "relative",
					top: "0",
					// border: "3px solid #000",
					borderRadius: "12px",
					transition: "all .3s ease-in-out",
				}}
			>
				<div
					class="panel"
					style={{
						maxWidth: "500px",
						color: "#ddd",
						borderRadius: "5px",
						// border: "4px solid #222",
					}}
				>
					<!-- <h3>Wanna view more?</h3>
					<br /> -->
					<a
						class="button"
						href="/posts/"
						style={{
							textDecoration: "none",
							color: "#fff",
							textAlign: "center",
						}}
					>
						View More
					</a>
				</div>
			</div>
			
		<!-- </div> -->
	</div>


	<!-- <section aria-label="Blog post list" class="mt-16"  style="padding:60px 5% 0 5%">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
	<!-- <section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			
		</dl>
	</section> -->
</PageLayout>
</body>