---
import PageLayout from "@/layouts/Base.astro";


import GoBack from "@/components/GoBack.astro"



---

<style>

.backer{
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  display:grid;
  place-content: center;
  height:100vh;
  align-content: center;
}

</style>
<GoBack />
<PageLayout>


<div class="backer">

  

    <h1>Thank you for contacting us</h1>


        
	</div>
</PageLayout>
