---
import Phone from "@/assets/pooper-ui-device2.webp";
import { Image } from "astro:assets";
// import { MdOutlineCleaningServices } from "react-icons/md";
---
<style>

.numblist {
    clear: both;
    list-style: none;
  counter-reset:item 0;
  }
  .numblist li {
    margin: 0 auto;
    padding: 1rem ;
    display: block;
    position: relative;
    /* counter-increment: inst; */
  counter-increment:item;
  }

  .numblist li::after {
  content:counter(item) " ";
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(12px);
    color: #f9f6f6;
    font-size:clamp(5rem, 6vw, 5rem);
    font-weight: 700;
    font-style: italic;
    border-radius: 0.675em;
    text-align: left;
    top:8vh;
    width: 90%;
    padding-left:2vw;
    position: absolute;
    transition: all 0.2s ease-in-out;
    text-shadow: .5vw -.5vh .3vw #000,0 8px 20px rgb(8, 202, 11),0px 12px 10px rgb(139, 167, 139),0 2px rgb(55, 227, 39),0 5px 2px rgb(39, 227, 99),0 0 2px rgb(39, 227, 77),0 0 2px rgb(39, 227, 80),0 0 1px rgb(39, 227, 80); 
  }
  
  @media (min-width:50em) {
      .numblist li::after {
      width: 80%;
      right: -90%;
      top:0vh;
    }
  }

  @media (max-width:48rem){
    .numblist li::after { display:; background:none !important; top:-10% !important; left:-10%  !important; right:inherit !important; width:0px !important; border:none !important; backdrop-filter: none !important;}

    li{width:85% !important; text-align:left !important; padding:1px 0 1px 50px !important;}
    .numblist{padding:0 !important;}
    li.mob2 {margin-top:-40px !important;}

      .numblist li::before {
  content:counter(item) " ";
  background: none;
    backdrop-filter: none;
    color: #f9f6f6;
    font-size:clamp(5rem, 6vw, 5rem);
    font-weight: 700;
    font-style: italic;
    border-radius: 0.675em;
    text-align: left;
    top:600px;
    right:0;
    width: 0;
    height:300px;
    margin-bottom: 20rem !important;
    padding-left:2vw;
    position: absolute;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    text-shadow: .5vw -.5vh .3vw #000,0 8px 20px rgb(8, 202, 11),0px 12px 10px rgb(139, 167, 139),0 2px rgb(55, 227, 39),0 5px 2px rgb(39, 227, 99),0 0 2px rgb(39, 227, 77),0 0 2px rgb(39, 227, 80),0 0 1px rgb(39, 227, 80); 
  }


  }
  
  li{
      /* background: rgba(0, 0, 0, 0.4); */
      padding:1px 1vw 1px 1vw;
      margin:2vh auto 3vh auto !important;
      border-radius: 12px;
      /* font-size:clamp(1.2rem, 2.8vw, 3.8rem) !important; */
      /* color: #ddd; */
        text-align:right;
  }

  </style>
  

<h3 class="" style="text-align: center; font-size:clamp(1.4rem, 2.5vw, 3rem); text-wrap:balance; line-height:1.2; margin-bottom:1rem;">Three easy steps to never picking up poop again!</h3>
  <div id="" class="flexbutt" style={{display:'flex', gap:'10px', justifyContent:'', alignItems:"start",
  padding:'0 2% 0 2%', position:'relative', background: 'rgba(0, 0, 0, .2)', maxWidth:'1600px', margin:'0 auto'}}>


<div class="flexcheek">
<ul class="numblist" style="max-width:clamp(380px, 90%, 600px); font-size:clamp(1.4rem, 2vw, 3rem); padding:80px 0; ">
<li style="height:;">Locate your property<br /> Select the # of dogs<br /> Select frequency of service</li>
<li style="height:;">Click "Draw Yard" button.
<br />
Click to drop as many points as needed to create an outline of your yard.<br /><span style="font-size:60%;">(You can edit the area after you connect the dots)</span>.</li>

<li style="">Enter your information and sit back with your best friend and enjoy your clean yard!</li>




    </ul>
</div>



    
<div class="flexcheek mob2 print" style={{position:'sticky', top:'0', minWidth:'', overflow:'', marginBottom:'', paddingTop:'0'}}>
  
  <Image src={Phone} loading="eager" alt="Phone" style={{height:'auto', width:'', maxHeight:'88vh', position:'sticky', zIndex:'', top:'0', right:'', border:'0px solid #222', objectFit:'contain', margin:'0 auto'}} />
</div>

  </div>
  <h3 class="" style="text-align: center; font-size:clamp(1.4rem, 2.5vw, 3rem);  line-height:1.2; margin-top:1rem;">Just three steps!</h3>




    
    

    
    


  

  
    