---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const testimonials = await getCollection('testimonials');
const sortedTestimonials = testimonials.sort((a, b) => (a.data?.order ?? 0) - (b.data?.order ?? 0));
---

<div class="horizontal-slider" style="padding:3vh 30%; height:50vh;">
  {sortedTestimonials.map((testimonial) => (
    <div class="quotecard">
      <div style={{display:'flex', flexDirection:'column', justifyContent:'center', textAlign:'center', minWidth:'380px'}}>
        {testimonial.data.image && (
          <Image
            src={testimonial.data.image}
            loading="lazy"
            alt={`${testimonial.data.name ?? 'Testimonial'} Image`}
            width={140}
            height={140}
            style={{
              maxHeight: '140px',
              position: 'relative',
              border: '1px solid !important',
              objectFit: 'contain',
              margin: '0 auto'
            }}
          />
        )}
        <br />
        {testimonial.data.name && <div>{testimonial.data.name}</div>}
        {testimonial.data.quote && (
          <blockquote style={{width:'100%', minWidth:'', position:'relative', fontsize:'clamp(.8rem, 1vw, 1.5rem)', marginLeft:''}}>
            {testimonial.data.quote}
            {testimonial.data.location && <span>- {testimonial.data.location}</span>}
          </blockquote>
        )}
      </div>
    </div>
  ))}
</div>


